.city-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F2FB;
    flex-direction: column;
}

.city-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 4.75rem);
}

.city-form-card {
    width: 40rem;
    /* height: 40rem; */
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid rgb(230, 230, 230);
}

.card-header {
    display: flex;
    margin-bottom: 1.5rem;
}

.card-header h1 {
    text-align: center;
    width: 100%;
    padding-right: 2rem;
}

.back-button {
    border: none;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.2s;
    border-radius: 1rem;
}

.back-button:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.city-form-title {
    margin-bottom: 20px;
    text-align: center;
}

.city-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.city-form-group {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

#city-form-midline {
    display: flex;
}

#city-form-cep-group, #city-form-state-group {
    width: 50%;
}

#city-cep {
    width: 60%;
}

.city-form-label {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #9795A0;
}

.city-form-input {
    padding: 1.3rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #F6F2FB;
    height: 3rem;
    width: 100%;
}



.city-form-input::placeholder {
    font-size: 1rem;
    /* padding: 1.3rem 1rem; */
    color: rgb(166, 159, 182);
}



.city-form-value-span {
    position: absolute;
    bottom: 1.35rem;
    left: 1rem;
    color: #322E8A;
    font-weight: 600;
    font-size: 1.1rem;
}


.city-form-submit-button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background: #6c63ff;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.city-form-submit-button:hover {
    background: #574fd6;
}

.city-form-submit-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* Botão de Envio */
.city-form-submit-button {
    width: 100%;
    padding: 16px;
    background-color: #433f9b;
    color: white;
    border: none;
    border-radius: 999px;
    /* Pill shape */
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    margin-top: 8px;
    box-shadow: 0 4px 15px rgba(91, 75, 255, 0.2);
}

.city-form-submit-button:hover {
    background-color: #7165ff;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(91, 75, 255, 0.3);
}

.city-form-submit-button:disabled {
    background-color: #b3aaff;
    cursor: not-allowed;
}



/* ======================= SELECT ======================= */

.city-select {
    font-size: 1rem;
    width: 80% !important;
}

/* =========================
   CONTAINER PRINCIPAL
========================= */
.city-react-select__control {
    border-radius: 10px !important;
    border: none !important;
    min-height: 48px !important;
    box-shadow: none !important;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: #F6F2FB !important;
    width: 100% !important;
}


/* hover */
.city-react-select__control:hover {
    border-color: #433f9b !important;
}

/* focus */
.city-react-select__control--is-focused {
    border: 2px solid#433f9b !important;
    outline: none !important;
}



/* =========================
   VALOR / INPUT
========================= */
.city-react-select__value-container {
    padding: 2px 12px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
}

.city-react-select__placeholder {
    color: #999 !important;
}

.city-react-select__single-value {
    color: #333 !important;
    font-weight: 500;
}

/* =========================
   DROPDOWN
========================= */
.city-react-select__menu {
    border-radius: 10px !important;
    margin-top: 6px !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08) !important;
    border: 1px solid #f0f0f0;
    max-width: 11.8rem;

    overflow: hidden !important;
}

.city-react-select__menu-list {
    padding: 6px !important;

    max-height: 220px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;

    display: block !important;
}

/* =========================
   OPÇÕES
========================= */
.city-react-select__option {
    border-radius: 6px !important;
    padding: 10px 12px !important;
    margin-bottom: 4px;
    cursor: pointer;
    transition: all 0.15s ease;
}

/* hover */
.city-react-select__option--is-focused {
    background-color: #f4f3ff !important;
}

/* selecionado */
.city-react-select__option--is-selected {
    background-color: #433f9b !important;
    color: #fff !important;
}

/* =========================
   SETA
========================= */
.city-react-select__dropdown-indicator {
    color: #999 !important;
    transition: all 0.2s;
}

.city-react-select__dropdown-indicator:hover {
    color: #433f9b !important;
}

/* separador da seta */
.city-react-select__indicator-separator {
    display: none !important;
}

/* =========================
   LIMPAR (X)
========================= */
.city-react-select__clear-indicator {
    color: #999 !important;
}

.city-react-select__clear-indicator:hover {
    color: #ff4d4f !important;
}   



